{
    "RootNamespace": "GestionEquestre",
    "Connections": [
        {
            "Key": "GE",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=GestionEquestre_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.ACC_BANKACCOUNT",
                    "Identifier": "AccBankaccount",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_ADRESS",
                    "Identifier": "ManAdress",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_CAVALIERS",
                    "Identifier": "ManCavaliers",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_HORSES",
                    "Identifier": "ManHorses",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_OWNER",
                    "Identifier": "ManOwner",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_PERSON",
                    "Identifier": "ManPerson",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_CITY",
                    "Identifier": "SetCity",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_COUNTRY",
                    "Identifier": "SetCountry",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_GALOP",
                    "Identifier": "SetGalop",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_LFC",
                    "Identifier": "SetLfc",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_MARITALSTATUS",
                    "Identifier": "SetMaritalstatus",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_SEXE",
                    "Identifier": "SetSexe",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_UELNORGA",
                    "Identifier": "SetUelnorga",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LINK_FOLDER_CAVALIER",
                    "Identifier": "LinkFolderCavalier",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LINK_FOLDER_HORSE",
                    "Identifier": "LinkFolderHorse",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LINK_FOLDER_PERSON",
                    "Identifier": "LinkFolderPerson",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MAN_FOLDER",
                    "Identifier": "ManFolder",
                    "Module": "Ge",
                    "ConnectionKey": "GE",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\GestionEquestre\\GestionEquestre.Web\\GestionEquestre.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}